# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf
addons/fmod/libs/**/*.a filter=lfs diff=lfs merge=lfs -text

# exclude files from github language list
/godot/addons/**/*.gd linguist-vendored
/godot/addons/**/*.cs linguist-vendored
